<div nz-row>
    <div nz-col nzSpan="22">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Namespace"  [(ngModel)] = "selectedNS" (ngModelChange)="namespaceChange($event)">
        <nz-option *ngFor="let ns of listNamespace; let i = index" [nzLabel]="ns" [nzValue]="ns"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="2" style="float: right;">
        <button nz-button nzType="primary" (click)="showModal()" style="float: right;" >
          <i nz-icon nzType="plus-circle" nzTheme="outline"></i>  
          Create
        </button>
    </div>

  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Create Inferenece Service"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
    nzWidth="600px"
  >
      <app-infer-service-creation #childModal *nzModalContent [namespace]="selectedNS"
      ></app-infer-service-creation>
  </nz-modal>
  </div>


<nz-table #nzTable [nzData]="inferences" [nzLoading]="loading" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="60px"></th>
        <th>Name</th>
        <th>Access URL</th>
        <th>Status</th>
        <th>Age</th>
        <th>Resource Type</th>
        <th>Image URL</th>
        <th>Image Version</th>
        <th>Model Storage URL</th>
        <th> GPU Size</th>
        <th> CPU Size </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of nzTable.data">
        <tr>
          <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
          <td>{{ data.name }}</td>
          <td>{{ data.url }}</td>
          <td>{{ data.status }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.resourceType }}</td>
          <td>{{ data.imageUrl }}</td>
          <td>{{ data.imageVersion }}</td>
          <td>{{ data.storageUrl }}</td>
          <td>{{ data.gpuSize }}</td>
          <td>{{ data.cpuSize }}</td>
          <td>
            <a (click)="editInference(data.id)" style="margin-right: 10px;">Edit</a>
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">Delete</a>
          </td>

        </tr>
        <tr [nzExpand]="expandSet.has(data.id)">
          <nz-descriptions nzTitle="Autoscaling Rules">
            <nz-descriptions-item  *ngFor="let key of getAutoscalingRules(data); let i = index" nzTitle={{key}}>{{data.rules[key]}}</nz-descriptions-item>
          </nz-descriptions>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
